.main {
    background-color: #000000;
    color: #ffffff;
}

.intro {
    text-align: center;
    padding-top:10em;
    /*color: #00ff00;*/
}

body {
    background-color: #000000 !important;
    padding-top: 70px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

footer {
    color: #ffffff;
    background-color: #141819;
}

.anchor {
    padding-top: 70px;
}

.anchor-about {
    height: 0px;

}

.navbar-dark {
    background-color: #141819 !important;
}

#navbar-fixed-hidden {
    display: none;
}

.introdiv {
    height: 100%;
}

.introdiv > h1 {
    color: #FF0000;
}

.introdiv > h1 > a {
    color: #ff0000;
}

.xptable {
    color: #ffffff;
}

.xptable>caption {
    margin-bottom: 10px;
}

.table_space {
    width: 30px !important;
}