.main {
    background-color: #000000;
    color: #ffffff;
}

.intro {
    text-align: center;
    padding-top:10em;
    /*color: #00ff00;*/
}

body {
    background-color: #000000 !important;
    padding-top: 70px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

footer {
    color: #ffffff;
    background-color: #141819;
}

.anchor {
    padding-top: 70px;
}

.anchor-about {
    height: 0px;

}

.navbar-dark {
    background-color: #141819 !important;
}

#navbar-fixed-hidden {
    display: none;
}

.testdiv {
    height: 100%;
}